* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../image/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.content {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* calculator container */

.calculator-container {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    gap: .5em;
    max-height: 98%;
    max-width: 95%;
    font-family: 'Notable', verdana, sans-serif;
    background: rgb(204, 204, 204);
    border: 10px solid black;
    border-radius: 10%;
    padding: 1.5%;
    overflow: hidden;
}

/* calculator face */

.calculator-face {
    display: flex;
    justify-content: center;
}

.calculator-face img{
    width: 40%;
    filter: brightness(.8);
}

/* calculator body */

.calculator-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* calculator display */

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    gap: .3em;
    height: 5em;
    max-width: 100%;
    color: rgb(240, 240, 240);
    background-image: url("../image/display.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: .5em; 
    border: 3px solid black;
    border-radius: 10px;
    overflow: hidden;
}

#display-history {
    text-align: right;
}

#display-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

#display-arrows {
    z-index: 2;
    display: flex;
    gap: 0.1em;
}

#right, #left {
    display: flex;
    align-items: center;
    height: 1.5em;
    border-radius: 5px;
    border: transparent;
    background: transparent;
}

#right:hover, #left:hover {
    transform: scale(1.1,1.1);
}


#right img, #left img {
    height: 1em;
}

#display-current {
    font-size: 1.5em;
}

/* calculator buttons */

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
    padding: 10px;
    
}

.grid-container button {
    border: 3px solid black;
    border-radius: 10px; 
    background-color: #C7E3D0;
}

.grid-container button:hover {
    transform: scale(1.1,1.1);
}

.ft-2-m {
    grid-column-start: 1;
    grid-column-end: 3;
}

.in-2-cm {
    grid-column-start: 3;
    grid-column-end: 5;
}

.ft-2-m, .in-2-cm{
    display: flex;   
    justify-content: space-between;
    align-items: space-between;
}

.ft-2-m button, .in-2-cm button{
    background-color: #F2D8CC;
    width: 100%;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}

.double-arrow {
    margin: 0 3px;
    width: 18px;
}

#clear {
    grid-column-start: 1;
    grid-column-end: 3;
}

#equal {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 7;
    background-color: #BDD5EF;
}

#plus-minus, #zero, #point, #one, #two, #three, #four, #five, #six, #seven, #eight, #nine {
    background-color: #C9C1E7;
}

#clear, #backspace {
    background-color: #E9CCCE;
}

#sound {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7E6CE;
}

#sound img{
    height: 20px;
    padding: 0;
    margin: 0;
}

/* footer */

.footer {
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    background: rgba(255, 255, 255, .5);
    border-top: 3px solid black;
}

.footer p {
    margin: 0;
    padding: 0;
}